@font-face {
    font-family: segoi-ui;
    src: url('../segoe-ui-4-cufonfonts/Segoe\ UI.ttf');
}

body {
    font-family: segoi-ui;
}

img {
    width: 10rem;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

}
.sub-header{
    display: flex;
    align-items: center;
}

header li a{
    color: #00f;
}
nav ul{
    display: flex;
    gap: 2rem;
}
.button{
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #00f;
    color: #fff;
    border-radius: .5rem;
}


.cont-img{
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;

}
.img-grande{
    width: 100vw;
    height: 70rem;
    background-size: cover;
    
}
.bg-oscuro{
    background-color: rgba(0, 0,0, .4);
    width: 50%;
    height: 100%;
    position: absolute;
}

.cont-img h1{
    color: #053477;
    
}
.h1{
    position: absolute;
    transform: translateY(-50rem);
    margin-left: 30rem;
    font-size: 3rem;
}
/* main1 */
.main{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
    
}
.h2{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}
.main h2{
    margin: 0 auto;
    color: #2A4B7A;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;
    width: 50rem;
    font-size: 1.8rem;
    color: #053477;

}
.main-items h3{
    color: #fa0;
}


/* main2 */
.main2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.main2 h2{
    color: #05f;
    font-size: 6rem;
}
.equipos{
    display: flex;
    gap: 4rem;
}
.equipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
}
.equipo img{
    width: 30rem;
}

.equipo h3{
    color: #fa0;
    font-size: 3rem;
}

/* main3 */

.main3{
    background-color: #2A4B7A;
}


.footer{
    display: flex;
    flex-direction: column;
}
.footer-content{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 10rem 2rem 10rem;
}
.footer span{ 
    color:#000;
    font-size: 3rem;
    font-weight: bold;
}
.footer p,a{
    color: #000;
}

.linea-divisora{
    border: .1rem solid #fa0;
    max-width: 30rem;
}

.ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #a00;
    height: 5rem;

}
li img{
    width: 3rem;
}
.a-footer{
    color: #05f;


}

.acerca-de,
.medios,
.contacto{
    display: flex;
    flex-direction: column;
    width: 25%;
}
